.offset3
  = form_for @user, :html => {:class => 'form-horizontal'} do |form|

    .control-group
      %label.control-label Resume
      .controls
        = form.file_field :resume
        - if @user.resume.exists?
          %p.help-block=  link_to "You already have a resume uploaded" , @user.resume.url
    .control-group
      %label.control-label Phone Number
      .controls= form.text_field :phone

    .form-actions
      = form.submit 'Proceed', :class => 'btn btn-primary'
      = link_to 'Cancel', root_url, :class => 'btn'
