.row
  .span9.video


  .span3.alerts
    - Alert.all.each do |alert|
      .alert.alert-info
        .alert-title
          = alert.title
        .alert-description
          = alert.description
        .alert-date
          = alert.date
        .alert-venue
          = alert.venue
.offset4
  = link_to "Schedule My Interview", new_schedule_path, :class => "btn btn-primary btn-large"