.row
  %h4.span2 Date
  %h4.span2 Time
  %h4.span2 Interviewee
  %h4.span1 Domain

%hr
- @schedules.each do |schedule|
  .row
    .span2= l schedule.timeslot.date, :format => :slot
    .span2= l schedule.timeslot.start_time, :format => :slot
    .span2= schedule.user.email if schedule.user
    .span1= schedule.domain.name
    - if schedule.feedback.blank?
      .span2= link_to "Start Feedback", new_trainer_schedule_feedback_path(@trainer,schedule)  , :class => "btn btn-primary"
    - else
      .span2= link_to "View Feedback", trainer_schedule_feedback_path(@trainer,schedule)  , :class => "btn"

  %hr