.page-header
  Edit domains for #{@trainer.email}

.row
  .span10
    = form_for [:admin,@trainer], :html => { :class => "form-horizontal"} do |form|
      %fieldset
        - Domain.all.each do |domain|
          .control-group
            %label.control-label
            .controls
              %label.checkbox
                = check_box_tag "trainer[domain_ids][]", domain.id
                = domain.name

        .form-actions
          = form.submit 'Update', :class => "btn btn-primary"
          = link_to 'Cancel', admin_trainers_path, :class => 'btn'

